.home {
  width: 100%;
  height: 100vh;
  padding-top: 10%;
  padding-left: 0%;
  padding-right: 0%;
  background: rgb(233, 229, 229);
}

fieldset {
  margin: 10px 0px 10px 0px;
  padding: 50px 30px 80px 30px;
  border-radius: 0px;
  box-shadow: 10px;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/005/178/915/small/abstract-white-and-light-gray-wave-modern-soft-luxury-texture-with-smooth-and-clean-subtle-background-illustration-eps-10-free-vector.jpg);
  justify-content: space-between;
}
.password,
.email {
  margin-right: 100%;
  padding: 10px;
  font-weight: bold;
}
.sign-in {
  background-color: #2b83cc;
  padding: 10px;
  border-radius: 0px;
  color: white;
  border: 2px;
  font-weight: absolute;
  margin-right: 100%;
  border: 0px solid;
  cursor: pointer;
  width: 300px;
}
.sign-up2 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: #2b83cc;
  border: 2px;
  font-weight: bold;
  margin-right: -350px;
  border: 0px solid;
  cursor: pointer;
  width: 250px;
}
.sign-in1 {
  padding: 15px 10px 10px 10px;
}
.sign {
  font-weight: bold;
  font-size: 30px;
}
.dont {
  margin-right: -350px;
  margin-top: -330px;
  font-weight: bold;
}
input {
  padding: 10px;
  border-radius: 0px;
  border: 0px solid;
  color: black;
  width: 300px;
  margin-right: 0px;
  background-color: rgb(233, 229, 229);
}
.airplane {
  width: 660px;
  height: 460px;
  border-radius: 0px;
  margin-top: -50px;
  margin-right: -50px;
}
::placeholder {
  color: gray;
}
